// All basic style that are global such as html tag, anchor tag with different psdudo's and so on.



  

// GLOBAL ELEMENTS
p {
    font-family: $paragraph;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    color: $font-color;
}

a {
    text-decoration: none;
    font-family: $paragraph;
    font-size: 0.86rem;
    font-weight: 300;
    color: $font-color-inv;

    &:hover {
        color: $font-white;
    }

    &:link {
        text-decoration: none;
    }
    
    /* visited link */
    &:visited {
        text-decoration: none;
    }
    
    /* mouse over link */
    &:hover {
        text-decoration: none;
    }
    
    /* selected link */
    &:active {
        text-decoration: none;
    } 
    
}

 /* unvisited link */

h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
    color: $font-color;
    font-weight: 300;

    strong{
        font-weight: $bold;
    }
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: $medium;
}

h6 {
    font-size: 0.86rem;
}



// BUTTONS
.primary-btn{
    @include primary-btn;
  }

.banner-btn{
@include banner-btn;
}

.primary-r-btn{
    @include primary-r-btn;
}

//padding

.padding-t-60{
    padding-top:60px;
}
.padding-b-60{
    padding-bottom:60px;
}