// HEADER SECTION START
header {
    width: 100%;
	z-index: 99;
	transition: 0.5s;
}

.header-hero-home{
    background-color: #f8f8f8;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 548px;
    background-position: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: start;

    &__text{
        font-family: $base-paragraph;
        height: 450px;
        font-size: 450px;
        font-weight: $bold;
        color: $font-color;
        position: absolute;
        padding-top: 250px;
        z-index: 1;
        align-self: center;
        
    }

    &__image{
        margin-left:250px;
    
    }

    &__button{
        position: absolute;
        z-index: 5;
        margin-top: 750px;
        align-self: end;
        margin-right: 325px;
        
    }
  }
// HEADER SECTION END


// MAIN SECTION START
.main-grid{
    @include fullwidth-grid;

   hr{
    margin: 60px 0;
    grid-column: 2 /7;
    height: 1px;
    color:$font-color-inv;
    background-color:$font-color-inv;
    border: none;
    opacity: 0.2;

   }
}
.filter-tabs{
    grid-column: 2 /7;
    align-items: left;
    margin: 0 0 60px 0;
    .filter-tabs__link {

        margin-right: 60px;
    
    }

    a:hover{
        color: $cta-color;
        cursor: pointer; 
    }
}

// MAIN SECTION END
.content{
    @include fullwidth-grid; 
    .tabcontent{
        @include main-grid;
        grid-auto-rows: 100px;    
    
    }
}
.product-item{
    label{
        display: none;
    }

    

    &:nth-child(1), 
    &:nth-child(2),
    &:nth-child(5), 
    &:nth-child(6){
        grid-column: span 1;
        grid-row: span 5;
        align-items: center;
        

        .product-item__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
   

    }
    
    &:nth-child(3), 
    &:nth-child(4){
        grid-column: span 2;
        grid-row: span 7;

        .product-item__img {

            width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
        
    }
    &:nth-child(3){
        margin-bottom:30px;

    }
    &:nth-child(4){
        margin-top:30px;
    }
    
}

.product-item{
    .product-item--hovered{
        display: none;

        
    }
    &:hover{
        display: block;
    }
}

// LOOK BOOK

.look-book{
    @include fullwidth-3col-grid;

    .look-book__item{
        display: flex;
        text-align: right;
        padding: 0 30px;
        background-color: $white-bg;

        .content-wrapper{
            width: 100%;
            grid-column: span 2;
            display: grid;
        }

        &:nth-child(1){    
            grid-column: 1/3;
            }
            &:nth-child(2){    
                grid-column: 3/5;
                }
                &:nth-child(3){    
                    grid-column: 5/7;
                    }


        .look-book__item__img{
            grid-column: span 1;
            width: 100%;
            height: 90%;
            object-fit: contain;
            align-self: end;
            grid-row: 1/2;
        }

        .look-book__item__text{
            grid-column: span 1;
            align-self: center;
            max-width: 280px;
            grid-row: 1/2;
            justify-self: end;

            h3{
                strong{
                    font-weight: $bold;
                }
                font-size: 48px;
                font-weight: 300;

            }

            p{
                font-size: 13px;
                
            }
        }

        .look-book__item__btn{
            margin-top: 30px;
        }
    }
}