//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800|Roboto::300,400,800');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

//Paragraph & Titles

$base-paragraph: 'Montserrat', sans-serif;
$base-heading: 'Roboto', sans-serif;

// Font sizes




//Colors
$font-color: #575153;
$link-color: #777777;
$font-color-inv: #999999;
$cta-color: #00c8c8;
$darkgrey: #333333;
$grey: #727272;
$white-bg: #f8f8f8;
$borderwhite: #e7e7e7;
$font-white: #fff;

